html, body{
    margin: 0;
    padding: 0;
}
/*-------------- GENERAL --------------*/

a{
    text-decoration: none;
    color: #3667f2;
}

nav > #nav_open_menu{
    display: none;
}

i{
    font-size: 300%;
    color: #3667f2;
}


/*-------------- MOBILE --------------*/
@media only screen and (max-device-width: 600px) {
    #content{
        text-align: center;
        margin-top: 100px;
    }

    nav{
        height: 100%;
    }
    nav > #nav_open_menu{
        display: block;
        font-size: 300%;
    }

    #mobile_nav_bars, #mobile_nav_times > i#fas{
        position: fixed;
        left: 20px;
        top: 0;
        z-index: 1100;
        font-size: 100%;
    }

    .hidden {
        display: none;
    }

    #mobile_nav_bars > i{
        font-size: 100%;
        color: #3667f2;
    }

    #mobile_nav_title{
        position: fixed;
        width: 100%;
        top: 0;
        text-align: center;
        z-index: 1000;
        -webkit-box-shadow: 0px 5px 39px 19px rgba(0,0,0,0.73);
        -moz-box-shadow: 0px 5px 39px 19px rgba(0,0,0,0.73);
        box-shadow: 0px -10px 30px 10px rgba(0,0,0,0.75);
        color: #3667f2
    }

    #nav_rounded_container{
        background: white;
        position: absolute;
        top: 0;
        padding-top: 200px;
        height: calc(100% - 200px);
        margin-left: -150%;
        width: 100%;
        z-index: 1500;
        transition-duration: 0.5s;
        transition-timing-function: cubic-bezier(.46,.03,.52,.96);
        -webkit-box-shadow: -15px 0px 48px 5px rgba(0,0,0,0.73);
        -moz-box-shadow: -15px 0px 48px 5px rgba(0,0,0,0.73);
        box-shadow: -15px 0px 48px 5px rgba(0,0,0,0.73);
    }

    #grid{
        width: 100%;
        display: grid;
        grid-gap: 50px;
        text-align: center;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
    }

    #mobile_nav_times{
        position: absolute;
        top: 20px;
        left: 20px;
    }
}


/*-------------- DESKTOP --------------*/
@media only screen and (min-device-width: 600px){
    html, body{
        height: 100%;
    }
    body{
        background: #e1faff;
        display: grid;
        grid-template-columns: 170px 1fr;
        height: 100%;
    }

    nav#nav{
        padding: 20px;
    }

    #nav_rounded_container{
        background: white;
        padding: 10px;
        border-radius: 20px;
        height: calc(100% - 20px);
/*         border:  1px solid grey; */
        -webkit-box-shadow: 10px 10px 24px -10px rgba(0,0,0,0.75);
        -moz-box-shadow: 10px 10px 24px -10px rgba(0,0,0,0.75);
        box-shadow: 10px 10px 24px -10px rgba(0,0,0,0.75);
    }

    div#grid{
        display: grid;
        grid-template-rows: repeat(5, 150px);
        grid-gap: 20px;
        height: 100%;
        border-radius: 20px;
        margin: 0px;
        padding: 5px;
    }

    div#grid > a{
/*         border: 1px solid darkgrey; */
        text-align: center;
        padding: 10px;
        padding-top: 30px;
        background: white;
        border-radius: 20px;
        -webkit-box-shadow: 6px 17px 33px -17px rgba(0,0,0,0.75);
        -moz-box-shadow: 6px 17px 33px -17px rgba(0,0,0,0.75);
        box-shadow: 4px 4px 30px -15px rgba(0,0,0,0.75);
    }

    nav > div > a{
        padding: 10px;
        margin: 5px;
        background: #54bbdd;
        border-radius: 20px;
        text-align: center;
    }

     #mobile_nav_times{
        display: none;
    }
}

