#content{
    padding: 20px;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    grid-template-rows: repeat(auto-fill, minmax(400px, 1fr));
}

.card{
    padding: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 5px 5px 34px -10px rgba(0,0,0,1);
    -moz-box-shadow: 5px 5px 34px -10px rgba(0,0,0,1);
    box-shadow: 5px 5px 34px -10px rgba(0,0,0,1);
    background: white;
}