<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% if title %}
    <title>{{ title }}</title>
    {% else %}
    <title>ParallelComp</title>
    {% endif %}
    <link href="/static/css/base.css" rel="stylesheet" type="text/css">
    <link href="/static/css/all.css" rel="stylesheet">
    <script src="/static/js/helpers.js"></script>
    <script src="/static/js/base.js"></script>
    {% block head %}{% endblock %}
</head>
<body>
    <nav id="nav">
        <div id="nav_open_menu">
            <div id="mobile_nav_bars"><i class="fas fa-bars"></i></div>
            <div id="mobile_nav_title">
                {% if title %}
                {{ title }}
                {% else %}
                ParallelComp
                {% endif %}
            </div>
        </div>
        <div id="nav_rounded_container">
            <div id="mobile_nav_times"><i class="fas fa-times"></i></div>
            <div id="grid">
                <a href="" id="nav_user">
                    <i class="fas fa-user"></i>
                    <h3>User</h3>
                </a>
                <a href="/home" id="nav_home">
                    <i class="fas fa-home"></i>
                    <h3>Home</h3>
                </a>
                <a href="/tasks" id="nav_tasks">
                    <i class="fas fa-tasks"></i>
                    <h3>Tasks</h3>
                </a>
                <a href="/status" id="nav_status">
                    <i class="fas fa-server"></i>
                    <h3>Status</h3>
                </a>
            </div>
        </div>
    </nav>
    <div id="content">
        {% block content %}{% endblock %}
    </div>
</body>
</html>