{% extends "base.html" %}

{% block head %}
<link href="/static/css/status.css" rel="stylesheet" type="text/css">
<script src="/static/js/status.js"></script>
<script src="/static/js/chart.js"></script>
<script src="/static/chartjs/Chart.bundle.js"></script>
{% endblock %}

{% block content %}
{% endblock %}